/* Reset lại một vài thuộc tính */
* {
    margin: 0;
    padding: 0;
}

body { 
    width: 100%;
    max-width: 1230px;
    margin: auto;
    font-family: Open Sans;
}
/* 
h3 {
    margin-top: 10px;
} */

ol, ul { list-style: none; }

ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

img { border: none; vertical-align: top; }


.link-style a{
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* line-height: 25px; */
    color: #4A4A4A;
}
.link-style--white a{
    color: #FFFFFF;
}
.link-style--big a{
    font-size: 18px;
}

.title-style {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 41px;
    color: #4A4A4A;
}
.title-style--small {
    font-size: 18px;
    line-height: 25px;
}
.title-style--medium {
    font-size: 21px;
    line-height: 31px;
}
.title-style--white {
    color: #FFFFFF;
}
.title-style--blue {
    color: #4D8CF1;
}
.title-style--left {
    margin-left: 10%;
    margin-right: 0;
}
.title-style--left img {
    margin-top: 13px;
}

.text-content {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    letter-spacing: 1px;
}
.text-content--big {
    font-size: 16px;
}
.text-content--bigger {
    font-size: 21px;
}
.text-content--small {
    font-size: 12px;
}
.text-content--bold {
    font-weight: bold;
}
.text-content--blue {
    color: #4D8CF1;
}
.text-content--white {
    color: #FFFFFF;
}

/* Nội dung layout */

/* Header */
@media screen and (max-width: 600px) {

    /* Header */
    .header__search__btn {
        display: none;
    }
    .header__search {
        width: 345px;
    }
    .header__search input { 
        width: 60%;
    }
}

.header {
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    padding: 20px 0;
}

/* logo */
.header__logo {
    /* position: relative;
    justify-content: space-between; */
    /* flex: wrap; */
    /* left: auto; */
    /* top: 15px; */
    display: flex;
    /* width: fit-content; */
    /* height: fit-content; */
}
.header__logo img {
    width: 60px;
    height: auto;
}

/* Search */
.header__search-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__search {
    background-color: white;
    /* height: 50px; */
    /* Width: 555px; */
    border: 1px solid #4D8CF1;
    border-radius: 5px;
    /* position: relative; */
    display: flex;
    /* flex-wrap: wrap;     */
    /* padding: 7px 250px 7px 10px; */
    padding: 0 5px 0;
}
.header__search__dropdown {
    /* position: relative;
    left: 5%;
    top: 10px; */
    /* width: 30%; */
    padding: 7px 10px;
}
.dropdown-btn {
    position: relative;
    top: 10px;
    left: 10px;
}
.header__search__dropdown__content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    /* min-width: 160px; */
    /* z-index: 1; */
    box-shadow: 0px 1px 5px 0px rgb(185, 181, 181);
}
.header__search__dropdown__content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(185, 181, 181);
}
.header__search__dropdown__content a:hover {
    background-color: rgb(231, 231, 231);
}
.header__search__dropdown:hover .header__search__dropdown__content {
    display: block;
}
.header__search input {
    border: 1px white solid;
    /* position: relative; */
    /* left: 10%; */
    /* width: 74%; */
    font-size: 15px;
    border: none;
    border-left: 1px solid rgb(179, 173, 173);
    padding: 0 250px 0 10px;
    margin-left: 10px;
}
input:focus {
    outline: none;
}
.header__search:hover {
    border: 2px solid #4D8CF1;
    box-shadow: 1px 0px 2px 0px #4D8CF1;
}

/* search button */
.header__search__btn {
    /* position: relative; */
    /* left: -120px; */
    border-radius: 6px;
    border: 1px solid #4A90E2;
    background-color:rgb(68, 148, 214);
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0 50px;
}
.search-btn-border {
    display: flex;
    margin-left: 10px;
}
.search-btn-border:hover {
    border-radius: 0;
    border: 2px solid #4A90E2;
}

/* Sign-in link */
.header__sign-in {
    position: relative;
    top: 15px;
}
.header__sign-in:hover {
    text-decoration: underline rgb(68, 148, 214) 2px;
}

/* Information */
.info {
    /* height: 500px; */
    padding: 40px 0;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
}
/* .info__img {
} */
.info__img img {
    width: 100%;
    height: auto;
}
.info__content {
    padding-left: 20px;
    flex: 50%;
}
.info__description {
    display: flex;
    justify-content: space-between;
}
.info__description span:nth-child(2) {
    display: flex;
    align-items: center;
}
.star-icon {
    padding-right: 10px;
}
.info__content__detail {
    padding: 10px 0;
    /* margin-top: 10px; */
    /* margin-bottom: 50px; */
    /* width: 100%; */
    color: #666666;
}
.info__content__contact {
    /* display: block; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* line-height: 33px; */
    color: #4A4A4A;
}
.info__content__contact img{
    max-width: 68px;
    height: auto;
}
.info__content__contact div {
    /* margin-top: 30px; */
}
.info__account {
    display: flex;
    /* padding: 20px 0 0; */
    /* justify-content: first baseline; */
}
.info__account img {
    padding: 10px;
    padding-left: 0;
}
.info__account p {
    display: flex;
    align-items: center;
    padding: 20px;
}
.info__avatar {
    /* margin-top: -20px; */
    /* margin-right: 10px; */
}
.contact__detail i {
    /* margin-left: 20px; */
    color: black;
    font-size: 35px;
}
.contact__detail {
    display: flex;
    padding: 10px 20px;
}
.contact__detail p {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.btn-message {
    /* margin-top: 50px; */
    /* width: 216px; */
    /* height: 48px; */
    background: #FFFFFF;
    border: 1px solid #4D8CF1;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
    color: #4D8CF1;
    cursor: pointer;
    padding: 15px 40px;
    margin-top: 30px;
}
.btn-message:hover {
    border: 2px solid #4D8CF1;
}

/* this is navigation css */
/* Navigation */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    /* height: 50px; */
    margin: 30px 0 0;
    border: none;
    border-top: 1px solid #C4C4C4;;
    border-bottom: 1px solid #C4C4C4;
    /* padding-top: 16px; */
}
.navigation__left {
    /* padding-right: 50px; */
    display: flex;
    justify-content: flex-start;
    margin: 0;
    /* width: 70%; */
}
.navigation__left li {
    padding-right: 50px;
    display: flex;
    align-items: center;
    /* margin: 0; */
}
.navigation__right {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navigation__right i {
    font-size: 30px;    
}
.navigation__right li {
    padding: 10px;
}
.navigation__right li:nth-child(3) {
    padding-left: 70px;
}

/* main */
main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.main__item {
    padding-top: 70px;
}
.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    margin-top: 35px;
    /* padding: 10px; */
}
.grid-item {
    display: flex;
}
.item__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
/* .item__header p:nth-child(2) {
    padding-left: 100px;
} */
/* .item-list {
    padding-top: 30px;
} */
.main__item span {
    margin-bottom: 20px;
}
.reviews .grid-item {
    display: flex;
    flex-direction: column;
}
.reviews .grid-container {
    grid-template-columns: auto auto;
    grid-gap: 50px 135px;
}
.may-like .grid-item {
    flex-direction: column;
    justify-content: space-between;
}
.may-like .grid-item > img {
    max-width: 447px;
    width: 100%;
    height: auto;
}
.may-like .grid-item p {
    padding: 10px 0;
}
.item-list li {
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
    /* width: 400px; */
}
.item-content {
    padding-left: 10px;
}
.item-content div:nth-child(2) {
    max-width: 80%;
}
.item-list li:nth-child(3n) {
    margin-right: 0;
}
.item-list li:last-child, .maylike-list li:last-child {
    margin-right: 0;
}

/* Reviews */

.reviews .item-list li {
    /* width: 600px; */
    height: 200px;
    display: flex;
    flex-direction: column;
}
.reviews .item-list li:nth-child(2n) {
    margin-right: 0;
}
.reviews__content {
    padding-top: 20px;
    /* height: 140px; */
}
.reviews__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 600px; */
    height: 50px;
}
.reviews__header__left {
    width: 25%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.reviews__header__left div {
    padding-top: 5px;
}
.reviews__header__right {
    display: flex;
    flex-direction: row;
    /* width: fit-content; */
    height: fit-content;
    padding-top: 5px;
}

/* You also may like */
.maylike-list li {
    height: 350px;
    margin-right: 40px;
    margin-bottom: 10px;
    /* width: 447px; */
    line-height: 6px;
}
.maylike-list li p {
    padding-top: 10px;
}

/* footer */
footer { 
    padding: 50px 0 10px;
    background: #4D8CF1;
    /* height: 270px; */
    margin-top: 100px;
    line-height: 30px;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
}
.footer__first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* line-height: 30px; */
    /* height: 70%; */
    text-align: left;
}
.footer__first ul {
    display: flex;
    flex-direction: column;
}
.reference-icon {
    padding-top: 5px;
}
.reference-icon img {
    border: 1px solid #FFFFFF;
    border-radius: 25%;
    padding: 7px;
}
.download-links {
    margin-top: 10px;
}
.footer__second {
    text-align: center;
}
.horizental-line {
    background-color: #FFFFFF;
    height: 1px;
    margin: 20px 5%;
}